*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
header{
    width: 90%;
    height: 95vh;
    /* border: 1px solid red; */
    margin:  auto;
}
header nav{
    width: 95%;
    height: 7%;
    /* border: 1px solid rgb(180, 66, 85); */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav ul {
    display: flex;
    /* top: -100; */
}
/* js class */
header nav .ul_active {
    /* top: 0; */
}
header nav ul li{
    display: flex;
    text-decoration: none ;
    margin: 0px 10px 0px 10px;
    text-decoration-style:none;
    padding: 14px;
}
header nav ul li:nth-last-child(1){
    background: #000;
    border-radius: 20px;
    padding: 13px 25px 0px 25px;

}
header nav ul li:nth-last-child(1) a{
    color: #fff;
}
header nav ul li a{
    text-decoration: none ;
    font-size: 14px;
    font-weight: 500;
    transition: .3s linear;
    color:#121213;
}
header nav ul li a:hover{
    color: rgb(200, 200, 200);
}
header nav .bi-three-dots{
 display: none;
}
header .content{
    position: relative;
    width: 100%;
    height: 93%;
    /* border: 1px solid black; */
}
header .content::before{
    content: '';
    width: 100%;
    position: absolute;
    height: 80%;
    /* border: 1px solid yellow; */
    background: url('img/woman-1836601.jpg') no-repeat center center/cover;
    border-radius: 10px;
    z-index: -1;

}
header .content .cont_box{
    width: 400px;
    height: auto;
    color: rgb(255, 255, 255);
    padding: 30px;
}
header .content .cont_box h1{
    line-height: 40px;
    font-weight: 800;
    margin: 0;
    /* border: 1px solid black; */
    text-shadow: 0px 2px 4px black;
}
header .content .cont_box p{
    font-size: 14px;
    font-weight: 400;
    color: #e3e3e3;
    text-shadow: 0px 2px 4px black;
}
header .content .cont_box button{
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 10px .1px rgb(51, 51, 51);
    background: black;
    color: white;
    font-size: 13px;
    outline: none;
    cursor: pointer;
    transition: .2s linear;
}
header .content .cont_box button:hover{
    box-shadow: 0px 0px 15px 1px rgb(88, 88, 88);
    background: rgba(0, 0, 0, 0.859);
    color: wheat;
}
header .content .cont_box button:active{
    box-shadow: 0px 0px 15px 1px rgb(0, 0, 0);
    
}
header .trip_bx{
    position: relative;
    width: 95%;
    height: auto;
    margin: auto;
    margin-top: 88px;
    /* border: 1px solid green; */
}
header .trip_bx .search_bx{
    position: relative;
    top: 0;
    left: 0;
    width: 560px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 10px 20px rgb(82, 82, 82);
    z-index: 1;
    border-radius: 5px;
    padding: 10px 20px;
    margin: auto;
    margin-bottom: -60px;
}
header .trip_bx .search_bx .card{
    width: 200px;
    height: 100%;
    /* border: 1px solid black; */
    
}
header .trip_bx .search_bx .card h4{
    font-size: 15px;
    margin: 0;
    font-weight: 700;
}
header .trip_bx .search_bx .card h4 .bi{
    position: absolute;
    font-size: 20px;
    margin: 0px 0px 0px 5px;
    transition: .3 linear;
    
}
header .trip_bx .search_bx .card input{
    margin-top: 3px;
    padding: 5px 0px;
    border: none;
    outline: none;
    font-size: 13px;
}
header .trip_bx .search_bx input[type="button"]{
    background: black;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 20px;
    transition: .3s linear;
    cursor: pointer;
}
header .trip_bx .search_bx input[type="button"]:hover{
    /* box-shadow: 0px 0px 15px 1px rgb(255, 255, 255); */
        background: rgba(0, 0, 0, 0.859);
        color: wheat;
}
header .trip_bx .traval_bx{
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
    top: 40px;
    /* border: 1px dotted  black; */
    border-radius: 10px;
    padding-bottom: 20px;
    /* background: #000; */
    box-shadow: 0px 20px 25px -10px rgb(161, 161, 161);
}
header .trip_bx .traval_bx::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: rgb(241,241,241, .7);
    backdrop-filter: blur(5px);
    z-index: -1;
}
header .trip_bx .traval_bx h4{
    font-size: 17px;
    margin: 0;
    padding: 60px 0px 15px 2.5%;
}
header .trip_bx .traval_bx .cards{
    width: 96%;
    height: auto;
    margin: 0px auto;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
}
header .trip_bx .traval_bx .cards::-webkit-scrollbar{
    scroll-behavior:smooth;
}
header .trip_bx .traval_bx .cards .card{
    min-width: 220px;
    height: 180px;
    
    /* border: 1px solid rgb(77, 164, 19); */
}
header .trip_bx .traval_bx .cards .card h3{
    margin: 0px 0px 10px 0px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    
}
header .trip_bx .traval_bx .cards .card h3 img{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    
}
header .trip_bx .traval_bx .cards .card img{
    width: 100%;
    height: 50%;
}
header .trip_bx .traval_bx .cards .card .btn_city{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
}
header .trip_bx .traval_bx .cards .card .btn_city a{
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 6px 20px;
    font-size: 11px;
    transition: .3s linear;
}
header .trip_bx .traval_bx .cards .card .btn_city a:hover{
    background-color: rgb(75, 75, 75);
}
header .trip_bx .traval_bx .cards .card .btn_city h5{
    font-size: 11px;
    font-weight: 500;
    margin: 0;
    margin-top: 5px;
    line-height: 15px;
}
header .trip_bx .traval_bx .cards .card .btn_city h5 span{
    font-size: 13px;
    font-weight: 700;
    
}



body{
    overflow-y: auto;
}
body::-webkit-scrollbar{
    scroll-behavior: smooth;
    overflow: hidden;
    overflow-wrap: break-word;
}

.offers{
    width: 60%;
    height: auto;
    margin: auto;
    /* border: 1px dotted black; */
    margin-top: 130px;
    margin-bottom: 30px;
}
.offers h1{
    font-weight: 600;
    text-align: center;
}
.offers p{
    font-weight: 500;
    text-align: center;
    margin: 0;
}
.offers .cards{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
    flex-wrap: wrap;
    margin: auto;
}
.offers .cards .card{
    position: relative;
    width: 200px;
    height: 350px;
    margin: 5px;
    /* border: 1px solid rgb(229, 228, 228); */
}
.offers .cards .card h3{
    width: 140px;
    padding: 6px 0px;
    background: rgb(165, 243, 165);
    border-radius: 20px;
    font-size: 12px;
    display: grid;
    place-items: center;
    margin: auto;
}
.offers .cards .card .img_text{
    position: relative;
    width: 100%;
    height: 250px;
    margin-top: 5px;
}
.offers .cards .card .img_text img{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}
.offers .cards .card .img_text h4{
    position: absolute;
    font-size: 9px;
    padding: 10px 15px;
    bottom: 0;
    margin: 0;
    color: #fff;
    z-index: 2;
}
.offers .cards .card .img_text h4::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255, .1);
    backdrop-filter: blur(5px);
    z-index: -1;
    left: 0;
    bottom: 0;
}
.offers .cards .card .cont_bx{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(229, 228, 228);
    /* border: 1px solid rgb(16, 172, 164); */
    padding: 5px 0px;
    border-radius: 0px 0px 5px 5px;
}
.offers .cards .card .cont_bx .price, .dayes{
    margin: 0px 8px;
    
}
.offers .cards .card .cont_bx .price .heart_chat{
    display: flex;
    align-items: center;
}
.offers .cards .card .cont_bx .price .heart_chat i:nth-child(1){
    color: red;
    font-size: 13px;
    margin-right: 10px;
}
.offers .cards .card .cont_bx .price .heart_chat i:nth-child(1) span{
    color: rgb(0, 0, 0);
    font-size: 12px;
    margin-left: 3px;
    font-style: normal;
}
.offers .cards .card .cont_bx .price .heart_chat i:nth-child(2){
    color: rgb(15, 100, 121);
    font-size: 13px;
    margin-right: 10px;
}
.offers .cards .card .cont_bx .price .heart_chat i:nth-child(2) span{
    color: rgb(0, 0, 0);
    font-size: 12px;
    margin-left: 3px;
    font-style: normal;
}
.offers .cards .card .cont_bx .price .info_price{
    display: flex;
    align-items: center;
    margin-top: 3px;
}
.offers .cards .card .cont_bx .price .info_price a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 11px;
    transition: .2s linear;
    margin-right: 13px;
    background: rgb(17, 174, 231);
    padding: 4px;
    border-radius: 5px 5px 5px 5px;
}
.offers .cards .card .cont_bx .price .info_price a:hover{
    background: rgb(24, 139, 182);
    color: rgb(229, 229, 229);
}
.offers .cards .card .cont_bx .price .info_price h4{
    margin: 0;
    font-size: 13px;
}

.offers .cards .card .cont_bx .dayes{
    color: white;
    background: black;
    padding: 10px;
    padding-top: 13px;
    margin: auto;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    transition: .5s linear;
}
.offers .cards .card .cont_bx .dayes:hover{
    transform: rotate(360deg);
}

.destination{
    width: 45%;
    height: auto;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 20px;
}
.destination .des_bx, .img_bx{
    position: relative;
    width: 50%;
    height: auto;
    /* border: 1px solid red; */
    
}
#imm{

    box-shadow: 0px 5px 20px gray;
}
.destination .des_bx{
    margin: 0;
}
.destination .des_bx h4 {
    margin: 0;
    font-size: 12px;
    color: #000;
    line-height: 25px;
    letter-spacing: 1px;
}
.destination .des_bx p {
    font-size: 12px;
}
.destination .des_bx li {
    font-size: 12px;
    list-style-type: none;
    line-height: 35px;
}
.destination .des_bx h6{
    width: 250px;
    font-size: 12px;
    font-weight: 500;
}
.destination .des_bx button{
    font-size: 12px;
    padding: 8px 15px;
    border-radius: 20px;
    background: #000;
    color: #fff;
    border: 2px solid black;
    transition: .3s linear;
    margin-top: 15px;
}
.destination .des_bx button:hover{
    background: grey;
    border: 2px solid grey;
}
.destination .img_bx img{
    width: 100%;
    height: 420px;
    border-radius: 5px;
}
.destination .img_bx .msg{
    position: absolute;
    top: 50%;
    left: -10%;
    width: 170px;
    height: 50px;
    background: #fff;
    box-shadow: 0px 5px 20px gray;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    border-radius: 10px;
}
.destination .img_bx .msg:nth-child(2){
    top: 10%;
    left: 55%;
}
.destination .img_bx .msg:hover{
    box-shadow: 3px 10px 30px gray;
}
.destination .img_bx .msg img{
    width: 30px;
    height: 55%;
}
.destination .img_bx .msg .cont{
    margin-left: 15px;
}
.destination .img_bx .msg .cont h4{
    margin: 0;
    font-size: 15px;
    font-weight: 500;
}
.destination .img_bx .msg .cont .bi:nth-child(1){
    color: red;
    margin-right: 5px;
    font-size: 13px;
}
.destination .img_bx .msg .cont .bi span{
    font-style: normal;
    margin-left: 3px;
    font-size: 12px;
    color: gray;
}
.destination .img_bx .msg .cont .bi:nth-child(2) {
    color: rgb(7, 98, 128);
        margin-right: 5px;
        font-size: 13px;
}
footer{
    width: 100%;
    height: auto;
    /* background: #dfdfdf; */
    display: flex;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
}
.br{
    width: 80%;
    border-top: 2px solid #c0c0c0;
    margin: auto;
    margin-top: 90px;
    box-shadow: 1px 3px 22px 2px rgb(198, 198, 198);
}
footer h2{
    text-align: center;
    margin: 0;
    margin-top: 25px;
    line-height: 30px;
    font-weight: 600;
    font-size: 20px;
}
footer p{
    width: 70%;
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;
    color: #1e1e1e;
    margin: 10px;
    word-spacing: 10px;
    text-shadow: 0px 5px 5px rgb(174, 174, 174);
}
footer .input{
    box-shadow: 0px 3px 20px -1px grey;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
footer .input input{
    padding: 12px 15px;
    border: none;
    outline: none;
    font-size: 13px;
    border-radius: 20px 0px  0px 20px ;
    background: #ffffff;
    color: #575757;
    font-family:Arial, Helvetica, sans-serif;
}
footer .input button{
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 0px 20px 20px 0px;
    background: red;
    color: #fff;
    cursor: pointer;
    margin-left: 0px;
    margin-top: .0px;
    transition: .3s linear;
    height: 42px;
}
footer .input button:hover{
    background: rgb(204, 4, 4);
    color: #c0c0c0;
}
footer .input button:active{
    background: rgb(206, 206, 206);
    color: #202020;
    border-left: .7px  solid rgb(0, 247, 205);
}
footer ul{
    list-style: none;
    display: flex;
    /* align-items: center; */
    margin: 30px;
}
footer ul li{
    text-align: center;
    margin-right:30px;
    font-weight: bold;
    font-size: 16px;
}

footer ul li h6{
    text-align: center;
    margin-right: 40px;
    font-size: 14px;
    font-weight: 400;
    max-width: 120px;
    margin: 0;
    line-height: 20px;
    border-top: 2px solid rgb(82, 82, 82);
}
